@model IEnumerable<ApplicationBusiness.CadastrosModels.Banco>

@{
    ViewData["Title"] = "Index";
    ApplicationBusiness.CadastrosModels.Banco firstDados = Model.ToList().FirstOrDefault();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
                <a asp-area="" asp-controller="Bancos" asp-action="Index" asp-route-OrdenaParm=@ViewBag.CodigoOrdenaParm>
                    <label asp-for="@firstDados.Codigo"></label>
                </a>

            </th>
            <th>

                <a asp-area="" asp-controller="Bancos" asp-action="Index" asp-route-OrdenaParm=@ViewBag.NomeOrdenaParm>
                    <label asp-for="@firstDados.Nome"></label>
                </a>

                
            </th>
            <th>

                <a asp-area="" asp-controller="Bancos" asp-action="Index" asp-route-OrdenaParm=@ViewBag.FantasiaOrdenaParm>
                    <label asp-for="@firstDados.Fantasia"></label>
                </a>

                
            </th>
            <th>
                
                <label asp-for="@firstDados.IdEmpresa"></label>                
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
